build/
lib/*.jar
target
.idea
.idea_modules
.settings
.project
.classpath
.cache
atlassian-ide-plugin.xml
*.iml
.java-version
dependency-reduced-pom.xml
*.pyc
*.log

# Fortify reusable component runtime artifacts)
fortify/fcli/tools/
fortify/fortify-ast-scan/data/